@import url(//fonts.cdnfonts.com/css/calistoga-2);
@import url(//fonts.cdnfonts.com/css/ubuntu);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Calistoga", sans-serif;
}
